/*global*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}
main, footer {
   padding: 50px;
}
a {
    color: black;
    text-decoration: none;
}
.main-links {
    display: block;
}
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}
i, input {
    padding: 16px;
}

/*header*/
header {
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 0 50px;
}
header nav ul {
    width: 400px;
    justify-content: space-between;
}
header nav a span {
    color: #0065fc;
    font-weight: bold;
}
header nav li {
    display: flex;
    height: 64px;
    width: 150px;
    align-items: flex-end;
    margin-top: -50px;
    justify-content: center;
}
header nav li:hover, header nav li:active, header nav li:focus {
    border-top: 2px solid #0065fc;
}
header nav li:hover a, header nav li:active a, header nav li:focus a{
    color: #0065fc;
}

/*selection section*/
#search-form {
    margin-top: 20px;
}
#search, #search-btn, form i {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: none;
    border-right: none;
    font-family: 'Raleway', sans-serif;
}
#search::placeholder {
    color: black;
}
#search:focus {
    outline: none;
}
#search {
    border-color: #f2f2f2;
    font-weight: bold;
}
#search-btn {
    background-color: #0065fc;
    color: white;
    cursor: pointer;
    border-color: #0065fc;
    border-radius: 0 15px 15px 0;
}
#search-btn:active, #search-btn:focus {
    outline: none;
}
form i {
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    border-color: #f2f2f2;
    vertical-align: bottom;
}
.filters-wrapper, .filters {
    display: flex;
    flex-direction: row;
}
.filters-wrapper {
    margin: 20px 0 20px 0;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 32px;
}
.filters {
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    margin-left: 32px;
    max-height: 50px;
}
.filters p {
    padding: 16px;
    margin: 0;
}
.filters-icons {
    color: #0065fc;
    background-color: #deebff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    left: -2px;
    top: -2px;
    text-align: center;
}
i.fa-child, i.fa-heart, i.fa-dog {
    font-size: 1.2rem;
}
#info {
    display: inline-block;
    color: #0065fc;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    margin: 40px 8px 40px 0;
}
i.fa-info {
    padding: 3px 0 3px 0;
}

/*hostels section*/
.columns-2 {
    display: flex;
    justify-content: space-between;
}
.columns-2 div {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 40px;
}
.columns-2 .main-div {
    width: 880px;
}
.columns-2 .side-div {
    width: 420px;
}
.columns-3 ul {
    flex-wrap: wrap;
}
.column-1 ul {
    flex-direction: column;
}

/*activities section*/


/*footer*/
footer {
    background-color: #f2f2f2;
}