/***global***/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}
main {
    clear: both;
    padding: 50px 5.334%;
}
aside {
    padding: 10px 5.334% 60px;
}
footer {
    padding: 50px 8%;
}
header nav li, .filters-wrapper, .filters, .main-section, ul, footer {
    display: flex;
}
.main-section, .results ul, #activities ul {
    justify-content: space-between;
}
h1, h2, h3, h4 {
    margin-top: 0;
}
h3 {
    font-size: 0.9rem;
}
a {
    color: black;
    text-decoration: none;
}
a span {
    font-weight: bold;
}
ul {
    list-style-type: none;
    padding: 0;
}
.main-nav ul, #activities ul {
    margin: 0;
}
i:not(.fa-star), input {
    padding: 16px;
}
.hostels, .best, .main-section li, #activities li {
    border-radius: 16px;
}
.main-img, .best-img, .activities-img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/***header***/
.logo {
    float: left;
}
header {
    padding: 50px 3.473% 0;
}
header button {
    font-weight: bold;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    float: right;
}
header button:focus {
    outline: none;
}
header nav {
    float: right;
}
header nav li {
    width: 150px;
    padding-top: 50px;
    margin-top: -50px;
    justify-content: center;
}
header nav li {
    border-top: 2px solid transparent;
}
header nav li:first-child {
    border-top: 2px solid #0065fc;
}
header nav li:first-child a, header button a, header nav li:hover a, header nav li:active a, header nav li:focus a, i.fa-star, .filters-icons, #info {
    color: #0065fc;
}
form i, .hostels, .best, footer {
    background-color: #f2f2f2;
}

/***selection section***/

#selection {
    padding-bottom: 40px;
}
#search-form {
    margin-top: 20px;
}
#search, #search-btn, form i {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: none;
    border-right: none;
    font-family: 'Raleway', sans-serif;
}
#search::placeholder {
    color: black;
}
#search:focus {
    outline: none;
}
#search {
    border-color: #f2f2f2;
    font-weight: bold;
}
#search-btn {
    background-color: #0065fc;
    color: white;
    cursor: pointer;
    border-color: #0065fc;
    border-radius: 0 16px 16px 0;
}
#search-btn:active, #search-btn:focus {
    outline: none;
}
form i {
    border-radius: 16px 0 0 16px;
    border-color: #f2f2f2;
    vertical-align: bottom;
}
.filters-wrapper, .filters {
    flex-direction: row;
}
.filters-wrapper {
    margin: 32px 0;
    font-weight: bold;
    text-transform: capitalize;
}
.filters {
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    margin-left: 32px;
    max-height: 50px;
    cursor: pointer;
}
.filters p {
    padding: 16px;
    margin: 0;
}
.filters-icons {
    background-color: #deebff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    left: -2px;
    top: -2px;
    text-align: center;
}
i.fa-child, i.fa-heart, i.fa-dog {
    font-size: 1.2rem;
}
#info {
    display: inline-block;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    margin-right: 8px;
}
i.fa-info {
    padding: 3px 0;
}
.filters:hover .filters-icons {
    color: #deebff;
    background-color: #0065fc;
}

/***hostels section***/

.hostels, .best {
    padding: 2.987%;
}
.hostels {
    width: 880px;
}
.best {
    width: 420px;
}
.results ul {
    flex-wrap: wrap;
}
.best-results ul {
    flex-direction: column;
}
.results li {
    width: 30%;
    height: 200px;
}
.main-section li {
    margin-bottom: 30px;
    overflow: hidden;
    padding: 5px;
    background: white;
    box-shadow: 0 0 15px -10px;
}
.main-img {
    height: 114px;
}
.description {
    padding: 8px;
}
.best-description {
    padding: 0 16px 8px;
    float: right;
    height: 100%;
    width: 190px;
}
.description, .best-description {
    font-size: 0.8rem;
    position: relative;
}
.description > * {
    margin: 0 0 8px 0;
}
.best-stars {
    position: absolute;
    left: 16px;
    bottom: 5px;
}
.best h2 {
    float: left;
}
i.fa-chart-line {
    float: right;
}
.best-results {
    clear: both;
}
.best-img {
    border-radius: 10px 0 0 10px;
    width: 127px;
    object-fit: cover;
    margin-right: 12px;
    float: left;
}
.best-results li {
    flex-direction: row;
    height: 144px;
}
.best-results li:last-child, .best-results ul {
    margin-bottom: 0;
}
.stars-3 i:nth-child(1n+4), .stars-4 i:last-child {
    color: #f2f2f2;
}

/***activities section***/

#activities li {
    box-shadow: 0 3px 15px -12px;
    padding-bottom: 57px;
    width: 302px;
    max-height: 447px;
}
#activities ul {
    flex-flow: column wrap;
    height: 447px;
    align-content: space-between;
}
#activities h3 {
    margin-bottom: 0;
    padding: 20px;
}
#activities li:nth-child(3n+1) {
    flex-grow: 1;
}
#activities li:nth-child(2) {
    height: 239px;
}
#activities li:nth-child(3) {
    height: 168px;
}
#activities li:nth-child(5) {
    height: 197px;
}
#activities li:nth-child(6) {
    height: 210px;
}
#activities li:nth-child(5) img, #activities li:nth-child(6) img {
    object-position: top;
}

/***footer***/
.footer-links a {
    display: block;
    margin-bottom: 20px;
}

/*** large phones and portrait tablets ***/
@media only screen and (min-width:481px) {

}

/*** landscape tablets ***/
@media only screen and (min-width:768px) {

}

/*** laptops, desktops ***/
@media only screen and (min-width:1025px) {

}

/*** laptops, desktops HD ***/
@media only screen and (min-width:1440px) {
    main, footer {
        padding-left: 3.473%;
        padding-right: 3.473%;
    }
    aside {
        padding-left: 3.473%;
        padding-right: 3.473%;
    }
    .footer-links {
        width: 33.33%;
    }
    header button {
        order: 1;
    }


}