/*global*/
body {
    font-family: 'Raleway', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}
main, footer {
   padding: 50px;
}
a {
    color: black;
    text-decoration: none;
}
.main-links {
    display: block;
}
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}
/*header*/
header {
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 0 50px;
}
header nav ul {
    width: 400px;
    justify-content: space-between;
}
header nav a span {
    color: #0065fc;
    font-weight: bold;
}
header nav li {
    display: flex;
    height: 64px;
    width: 150px;
    align-items: flex-end;
    margin-top: -50px;
    justify-content: center;
    box-sizing: border-box;
}
header nav li:hover, header nav li:active, header nav li:focus {
    border-top: 2px solid #0065fc;
}
header nav li:hover a, header nav li:active a, header nav li:focus a{
    color: #0065fc;
}
/*selection section*/


/*hostels section*/


/*activities section*/


/*footer*/
footer {
    background-color: #f2f2f2;
}